<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<bean name="authenticationFilter"
		class="org.jasig.cas.client.authentication.AuthenticationFilter"
		p:casServerLoginUrl="http://192.168.1.177:8134/cas/login" p:renew="false"
		p:gateway="false" p:service="http://localhost:8080" />

	<bean name="ticketValidationFilter"
		class="org.jasig.cas.client.validation.Cas10TicketValidationFilter"
		p:service="http://localhost:8080">
		<property name="ticketValidator">
			<bean class="org.jasig.cas.client.validation.Cas10TicketValidator">
				<constructor-arg index="0"
					value="http://192.168.1.177:8134/cas" />
			</bean>
		</property>
	</bean>
</beans>